@font-face {
    font-family: 'Baloo';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/Baloo/Baloo-Regular.ttf) format('woff2');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/Nunito/Nunito-Bold.ttf) format('woff2');
}
