#contact-information div {
    width: 80%;
    height: 70px;
    position: relative;
    left: 15%;
    top: 10%;
    border-top: dotted #4dc48e;
    border-right: dotted #4dc48e;
    border-bottom: dotted #4dc48e;
}

#contact-information h2 {
    padding-left: 20%;
    padding-top: 20px;
    color: #4dc48e;
}

#contact-information img {
    width: 14%;
    position: relative;
    left: 7%;
    //bottom: 95px;
    bottom: 39px;
    border-radius: 50%;
    border: dotted #4dc48e;
}

#contact-information article {
    position: relative;
    bottom: 8%;
    left: 8%;
}
