#home {
    background-color: #6A123C;
    height: 300px;
    text-align: center;
}

#home img {
    border-radius: 50%;
    border: dotted black;
    /*margin-left: 30%;*/
    margin-top: 20%;
    /*position: relative;
    top: 50px;
    left: 30px;*/
}

.home {
    position: relative;
    top: 70px;
}
