#personal-information div {
    margin-top: 72px;
    width: 70%;
    height: 90px;
    position: relative;
    display: block;
    margin-left: 70px;
    border-top: dotted #2f5a78;
    border-right: dotted #2f5a78;
    border-bottom: dotted #2f5a78;
}

#personal-information h2 {
    padding-left: 50px;
}

#personal-information img {
    //height: 17%;
    width: 18%;
    position: relative;
    left: 25px;
    bottom: 95px;
    border-radius: 50%;
    border: dotted #2f5a78;
}

#personal-information article {
    position: relative;
    bottom: 70px;
    padding-left: 40px;
}
