#programming-languages div {
    width: 72%;
    height: 95px;
    position: relative;
    left: 20%;
    top: 20px;
    border-top: dotted #2d7fd2;
    border-right: dotted #2d7fd2;
    border-bottom: dotted #2d7fd2;
}

#programming-languages h2 {
    padding-left: 40%;
    padding-top: 20px;
    color: #33495d;
    font-size: 30px;
    color: #2d7fd2;
}

#programming-languages img {
    width: 7%;
    position: relative;
    left: 16%;
    //bottom: 95px;
    bottom: 80px;
    border-radius: 50%;
    border: dotted #2d7fd2;
}

#programming-languages article {
    position: relative;
    bottom: 45px;
    left: 18%;
}
